/* Algemene styling in de grid-container en per grid-item */
	.grid-container{
		padding-top: 20px;
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 90%;
		margin: 0 auto;
		
		grid-template-columns: 70% 30%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		padding-top: 20px;
		display: grid;
		
		grid-template-columns: 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 0px 0px;
		
		width: 90%;
		margin: 0 auto;
		margin-bottom: 30px;
		
		grid-template-areas:
			"operational1"
			"operational2"
			"analythical1"
			"analythical2"
	}

														/* Styling van de grid-boxes bij mobiele weergave */

															.box1{
																grid-area: header;
																background-color: white; /* red */
																border-radius: 20px;
																margin-right: 10px;
																text-align: center;
		/* verwijder eventueel vanaf hier */														display: flex;
																flex-flow: column;
																flex-wrap: wrap-reverse;
																align-content: center;
																position: relative;
															/*	
																display: flex;
																justify-content: center;
																align-items: center;
																resize: both;
																flex-flow: column; */
																
															}
															
															.box2{
																grid-area: pilootInlog;
																background-color: white; /* gray */
																border-radius: 20px;
																margin-left: 10px;
																display: flex;
																justify-content: center;
																align-items: center;
																resize: both;
																position: relative;
															}

															.box3{
																grid-area: operational1;
																position: relative;
																background-color: white; /* orange */
																border-radius: 20px 20px 0px 0px;
																display: flex;
																flex-direction: column;
																justify-content: center;
																align-items: center;
																resize: both;
																
															}

															.box4{
																grid-area: operational2;
																background-color: white; /* dodgerblue */
																border-radius: 0px 0px 20px 20px;
																position: relative;
																display: flex;
																flex-direction: column;
																justify-content: center;
																align-items: center;
																resize: both;
															}

															.box5{
																grid-area: analythical1;
																margin-top: 20px;
																background-color: white; /* limegreen */
																border-radius: 20px 20px 0px 0px;
																position: relative;
																display: flex;
																flex-direction: column;
																justify-content: center;
																align-items: center;
																resize: both;
															}

															.box6{
																grid-area: analythical2;
																background-color: white; /* hotpink */
																border-radius: 0px 0px 20px 20px;
																position: relative;
																display: flex;
																flex-direction: column;
																justify-content: center;
																align-items: center;
																resize: both;
														}
	
	/* Schaduwen van elke box */
			.box1:after, .box2:after, .box3:after, .box5:after, .box4:after, .box6:after{
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: -1;
				border-radius: 20px;
				box-shadow:
					0 0.5px 1.1px rgba(0, 0, 0, 0.075),
					0 4px 12px rgba(0, 0, 0, 0.15)
				;
			}
			
			.box3:after, .box5:after{
				border-radius: 20px 20px 0px 0px;
			}
			
			.box4:after, .box6:after{
				border-radius: 0px 0px 20px 20px;
			}
	
	/* Styling in box1 */
			#tekstGroteSchermen{
				display: none;
			}
			
			#logo{
				width: 110px;
				padding-top: 3%;
			}
			
			h1{
				font-size: 25px;
				margin: 3% 0% 3% 0%;
			}
	
	/* Styling in box2 */
			#pilootLogo{
				width: 65px;
			}
			
			#pilootAanduidingTekst{
				display: none;
				color: #A90000;
			}
			
			#huidigePilootTekst{
				display: none;
			}
			
	/* Styling in box3, 4, 5 en 6 */
			.dashboardGegevenAanduiding{
				/* background-color: red; */
				height: auto;
				width: 90%;
				margin: 5% 0% 0% 5%;
				line-height: 1.2;
			}
			
			h2{
				font-size: 20px;
			}
			
			p{
				font-size: 13px;
				margin-top: 0px;
			}
			
			.scheidingslijn{
				 width: 80%;
				 margin-bottom: 0px;
				 margin-top: 3%;
				 height: 2px;
				 background-color: #EFF0F0;
			}
	
	/* Snelheidsmeter styling */
		.gauge {
			height: 275px;
			margin: 8% 0% 8% 0%;
		}
		
	/* Drukmeter styling */
		#drukmeter{
			margin: 8% 0% 10% 0%;
		}
		
		.d3-gauge {
			width: 275px;
			height: 275px;
		}
	
	/* Kolomgrafiek styling */
		#kolomGrafiek{
			position: relative; 
			width: 85%;
			height: 250px;
			margin-top: 5%;
			margin-bottom: 5%;
		}
		
	/* Pie chart styling */
		.container{
			margin: 0% 0% 1% 0%;
			position: relative; 
			height:: 200px;
			width: 80%;
			padding: 7% 0% 10% 0%;
		}


/* Kleine tablet staand */
@media only screen and (min-width: 599px) and (max-width: 767px) {
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 85%;
		margin: 0 auto;
		
		grid-template-columns: 80% 20%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 85%;
		margin: 0 auto;
		margin-bottom: 30px;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
													/* Styling van de grid-boxes bij kleine tablet weergave */
															.box1{
																display: flex;
																flex-flow: row;
															}
															
															.box2{
																display: flex;
															}
	
															.box3{
																border-radius: 20px 0px 0px 20px;
															}

															.box4{
																border-radius: 0px 20px 20px 0px;
															}

															.box5{
																margin-top: 0px;
																border-radius: 20px 0px 0px 20px;
															}

															.box6{
																margin-top: 0px;
																border-radius: 0px 20px 20px 0px;
															}
															
															.box3, .box4, .box5, .box6{
																display: flex;
																justify-content: space-around;
															}
	
	/* Schaduwen */
			.box3:after, .box5:after{
				border-radius: 20px 0px 0px 20px;
			}
			
			.box4:after, .box6:after{
				border-radius: 0px 20px 20px 0px;
			}
	
	/* Styling in box1 */
			#logo{
				width: 120px;
				padding: 0px;
				margin-left: 7%;
			}
			
			h1{
				margin: auto;
				margin-right: 5%;
				font-size: 28px;
			}
			
			p{
				margin-top: 3px;
			}
			
			#tekstMobiel{
				display: inline;
			}
			
			#tekstGroteSchermen{
				display: none;
			}
	
	/* Styling in box2 */
			#pilootLogo{
				width: 60px;
				margin: 10% 0% 10% 0%;
			}
			
	/* Styling in box3, 4, 5 en 6 */
			.dashboardGegevenAanduiding{
				height: auto;
				width: 90%;
				margin: 4% 0% 0% 5%;
				line-height: 1.2;
			}
	
			.scheidingslijn{
				border-right: 2px solid #EFF0F0;
				position: absolute;
				margin-top: 0%;
				height: 85%;
				width: 0%;
				right: 0%;
			}
			
	/* Snelheidsmeter styling */
		.gauge {
			height: 175px;
			margin: 3% 0% 8% 0%;
		}
		
	/* Drukmeter styling */
		#drukmeter{
			margin: 0% 0% 6% 0%;
		}
		
		.d3-gauge {
			width: 175px;
			height: 175px;
		}
		
	/* Kolomgrafiek styling */
		#kolomGrafiek{
			position: relative; 
			width: 80%;
			height: 100%;
			margin-top: 3%;
			margin-bottom: 3%;
		}
		
	/* Pie chart styling */
		.container{
			margin: 0% 0% 1% 0%;
			position: relative; 
			height:: 60%;
			width: 60%;
			padding: 7% 0% 10% 0%;
		}



}



/* Grote tablet staand */
@media only screen and (min-width: 768px){
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 85%;
		margin: 0 auto;
		
		grid-template-columns: 85% 15%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 85%;
		margin: 0 auto;
		margin-bottom: 30px;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
														/* Styling van de grid-boxes bij grote tablet weergave */
															.box1{
																display: flex;
																flex-flow: row;
															}
															
															.box2{
																display: flex;
																flex-flow: row;
															}
															
															.box3{
																border-radius: 20px 0px 0px 20px;
															}

															.box4{
																border-radius: 0px 20px 20px 0px;
															}

															.box5{
																margin-top: 0px;
																border-radius: 20px 0px 0px 20px;
															}

															.box6{
																margin-top: 0px;
																border-radius: 0px 20px 20px 0px;
															}
															
															.box3, .box4, .box5, .box6{
																display: flex;
																justify-content: space-around;
															}
															
															
															
	/* Schaduwen */
			.box3:after, .box5:after{
				border-radius: 20px 0px 0px 20px;
			}
			
			.box4:after, .box6:after{
				border-radius: 0px 20px 20px 0px;
			}
	
	/* Styling in box1 */
			#logo{
				width: 100px;
				padding: 0px;
				margin: 2% 0% 2% 5%;
			}
			
			h1{
				margin: auto;
				margin-right: 5%;
				font-size: 28px;
			}
			
			p{
				margin-top: 3px;
			}
			
			#tekstMobiel{
				display: inline;
			}
			
			#tekstGroteSchermen{
				display: none;
			}
	
	/* Styling in box2 */
			#pilootAanduidingTekst{
				display: none;
			}
			
			#huidigePilootTekst{
				display: none;
			}
			
			#pilootLogo{
				width: 60px;
				margin: 10% 0% 10% 0%;
			}
		
	/* Styling in box3, 4, 5 en 6 */
			.dashboardGegevenAanduiding{
				height: auto;
				width: 90%;
				margin: 6% 0% 0% 5%;
				line-height: 1.2;
			}
	
			.scheidingslijn{
				border-right: 2px solid #EFF0F0;
				position: absolute;
				margin-top: 0%;
				height: 85%;
				width: 0%;
				right: 0%;
			}
			
	/* Snelheidsmeter styling */
		.gauge {
			height: 225px;
			margin: 3% 0% 8% 0%;
		}
		
	/* Drukmeter styling */
		#drukmeter{
			margin: 0% 0% 8% 0%;
		}
		
		.d3-gauge {
			width: 225px;
			height: 225px;
		}
			
	/* Kolomgrafiek styling */
		#kolomGrafiek{
			position: relative; 
			width: 80%;
			height: 100%;
			margin-top: 8%;
			margin-bottom: 10%;
		}
		
	/* Pie chart styling */
		.container{
			margin: 0% 0% 1% 0%;
			position: relative; 
			height:: 60%;
			width: 60%;
			padding: 7% 0% 10% 0%;
		}
	
}



/* Tablet liggend */
@media only screen and (min-width: 950px) and (max-width: 1199px){
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 78%;
		margin: 0 auto;
		
		grid-template-columns: 70% 30%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 78%;
		margin: 0 auto;
		margin-bottom: 30px;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
														/* Styling van de grid-boxes bij tablet liggend weergave */
															.box2{
																display: flex;
																justify-content: space-around;
															}
															
															.box3, .box4, .box5, .box6{
																display: flex;
																justify-content: space-around;
															}
	
	
	/* Styling in box1 */
			#tekstMobiel{
				display: none;
			}
			
			#tekstGroteSchermen{
				display: inline;
			}
			
			#logo{
				width: 110px;
				padding: 0px;
				margin-left: 5%;
			}
			
			h1{
				margin: auto;
				margin-right: 3%;
				font-size: 26px;
			}
			
			p{
				margin-top: 5px;
			}
	
	/* Styling in box2 */
			#pilootTekstenBox2{
				width: 60%;
				height: auto;
				margin-left: 8%;
				line-height: 1.2;
			}
			
			#pilootAanduidingTekst{
				display: inline;
				font-size: 15px;
				margin-bottom: 50px;
			}
			
			#huidigePilootTekst{
				display: inline;
				font-size: 15px;
			}
			
			#pilootLogo{
				width: 60px;
				margin: 5% 6% 5% 0%;
			}
			
	/* Styling in box3, 4, 5 en 6 */
			.dashboardGegevenAanduiding{
				height: auto;
				width: 90%;
				margin: 4% 0% 0% 5%;
				line-height: 1.2;
			}
			
	/* Snelheidsmeter styling */
		.gauge {
			height: 250px;
			margin: 3% 0% 8% 0%;
		}
		
	/* Drukmeter styling */
		#drukmeter{
			margin: 0% 0% 6% 0%;
		}
		
		.d3-gauge {
			width: 250px;
			height: 250px;
		}
		
	/* Kolomgrafiek styling */
		#kolomGrafiek{
			position: relative; 
			width: 80%;
			height: 100%;
			margin-top: 8%;
			margin-bottom: 10%;;
		}
		
	/* Pie chart styling */
		.container{
			margin: 0% 0% 1% 0%;
			position: relative; 
			height:: 50%;
			width: 50%;
			padding: 5% 0% 10% 0%;
		}
	
	
}



/* Kleine desktop */
@media only screen and (min-width: 1200px) and (max-width: 1919px){
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 75%;
		margin: 0 auto;
		
		grid-template-columns: 75% 25%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		padding-top: 20px;
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 75%;
		margin: 0 auto;
		margin-bottom: 30px;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
														/* Styling van de grid-boxes bij kleine desktop weergave */
															.box1{
																display: flex;
																flex-flow: row;
															}
															
															.box2{
																display: flex;
																justify-content: space-around;
															}
															
															.box4{
																display: flex;
																justify-content: space-between;
															}
															
															.box5{
																display: flex;
																justify-content: space-around;
															}
															
															
	/* Styling in box1 */
			#tekstMobiel{
				display: none;
			}
			
			#tekstGroteSchermen{
				display: inline;
			}
			
			#logo{
				width: 120px;
				margin: 2% 0% 2% 3%;
			}
			
			h1{
				margin-right: 3%;
				font-size: 28px;
			}
			
			h2{
				font-size: 22px;
			}
			
			p{
				margin-top: 5px;
			}
	
	/* Styling in box2 */
			#pilootTekstenBox2{
				margin-left: 0%;
			}
			
			#pilootAanduidingTekst{
				display: inline;
				font-size: 18px;
			}
			
			#huidigePilootTekst{
				display: inline;
				font-size: 18px;
				margin-top: 50px;
			}
			
			#pilootLogo{
				width: 70px;
				margin: 5% 0% 5% 0%;
			}
	
	/* Styling in box3, 4, 5 en 6 */
			.dashboardGegevenAanduiding{
				margin: 4% 0% 0% 5%;
			}
			
	/* Snelheidsmeter styling */
		.gauge {
			height: 300px;
			margin: 0% 0% 8% 0%;
		}
		
	/* Drukmeter styling */
		#drukmeter{
			margin: 0% 0% 7.5% 0%;
		}
		
		.d3-gauge {
			width: 300px;
			height: 300px;
		}
		
	/* Kolomgrafiek styling */
		#kolomGrafiek{
			position: relative; 
			width: 80%;
			height: 100%;
			margin-top: 5%;
			margin-bottom: 10%;;
		}
			
	/* Pie chart styling */
		.container{
			margin: 0% 0% 1% 0%;
			position: relative; 
			height:: 50%;
			width: 50%;
			padding: 5% 0% 10% 0%;
		}
		
		
	
}

/* Grote desktop */
@media only screen and (min-width: 1920px) {
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 65%;
		margin: 0 auto;
		
		grid-template-columns: 75% 25%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		padding-top: 20px;
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 65%;
		margin: 0 auto;
		margin-bottom: 30px;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
														/* Styling van de grid-boxes bij kleine desktop weergave */
															.box1{
																display: flex;
																flex-flow: row;
															}
															
															.box2{
																display: flex;
																justify-content: space-around;
															}
	/* Styling in box1 */
			#tekstMobiel{
				display: none;
			}
			
			#tekstGroteSchermen{
				display: inline;
			}
			
			#logo{
				width: 140px;
				margin: 2% 0% 2% 5%;
			}
			
			h1{
				margin-right: 3%;
				font-size: 32px;
			}
			
			p{
				margin-top: 5px;
			}
	
	/* Styling in box2 */
			#pilootTekstenBox2{
				margin-left: 0%;
			}
			
			#pilootAanduidingTekst{
				display: inline;
				font-size: 20px;
				line-height: 1.5;
			}
			
			#huidigePilootTekst{
				display: inline;
				font-size: 20px;
				line-height: 1.5;
			}
			
			#pilootLogo{
				width: 75px;
				margin: 5% 0% 5% 0%;
			}
	
	/* Styling in box3, 4, 5 en 6 */	
			.dashboardGegevenAanduiding{
				/* background-color: red; */
				margin: 2% 0% 0% 5%;
			}
	
}