@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url("https://use.typekit.net/zkx6vyo.css");

/* Algemene styling */
body{
	margin: 0;
	background-color: #F7F9FA;
	/* background: #EEF2F7; */
}

/* Lettertypes */
h1{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;
	font-weight: 300;
}

h2{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	font-weight: normal;
	margin: 0px;
}

h3{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 5px;
	font-weight: normal;
	margin: 0px;
}

p{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2.1px;
	margin-top: 5px;
}


/* Gebruike schaduwen back-up

box-shadow:
					0 0.7px 3px rgba(0, 0, 0, 0.036),
					0 1.5px 4.8px rgba(0, 0, 0, 0.031),
					0 2.8px 8px rgba(0, 0, 0, 0.028),
					0 7px 19px rgba(0, 0, 0, 0.07)
				;
				
box-shadow:
  0 0.5px 2.4px rgba(0, 0, 0, 0.055),
  0 4px 19px rgba(0, 0, 0, 0.11)
;

box-shadow:
  0 0.5px 1.1px rgba(0, 0, 0, 0.075),
  0 4px 9px rgba(0, 0, 0, 0.15)
;

box-shadow:
  0 0.5px 1.1px rgba(0, 0, 0, 0.075),
  0 4px 15px rgba(0, 0, 0, 0.15)
;



*/

/* Styling van de barmeter */


/* GrayScale */

text{
	font-family: 'arial', sans-serif;
}

.d3-gauge.grayscale .outer-circle {
  fill         :  #333;
  fill         :  #005288;
  stroke       :  #000;
  stroke-width :  0.5px;
}

.d3-gauge.grayscale .inner-circle {
  fill         :  #111;
  fill         :  white;
  stroke       :  #E0E0E0;
  stroke-width :  2px;
}

.d3-gauge.grayscale .label {
  fill      :  #888;
  fill         :  #005288;
  font-size :  24px;
}

.d3-gauge.grayscale .major-tick {
  stroke       :  #888;
    stroke         :  #005288;
  stroke-width :  2px;
}

.d3-gauge.grayscale .minor-tick {
  stroke       :  #777;
  stroke-width :  1px;
}

.d3-gauge.grayscale .major-tick-label {
  fill         :  #ddd;
  fill         :  black;
  stroke-width :  2px;
  font-size    :  15px;
}

.d3-gauge.grayscale .needle {
  fill         :  #888;
  stroke       :  #555;
  fill-opacity :  0.7;
}

.d3-gauge.grayscale .needle-container {
  fill         :  #444;
  stroke       :  #666;
  fill-opacity :  1;
}

.d3-gauge.grayscale .current-value {
  fill         :  #fff;
  fill         :  black;
  stroke-width :  0px;
}

.d3-gauge.grayscale .green-zone {
  fill :  #ddd;
  fill :  red;
}

.d3-gauge.grayscale .yellow-zone {
  fill :  #888;
  fill :  #FF991D;
  fill :  white;
}

.d3-gauge.grayscale .red-zone {
  fill :  #666;
  fill :  tomato;
  fill :  white;
}

.yellow-zone{
	transform: translate(5, 12);
}

