@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url("https://use.typekit.net/zkx6vyo.css");

body{
	margin: 0;
	background-color: #F7F9FA;
}

h1{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;
	font-weight: 300;
}

h2{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 5px;
	font-weight: 300;
}

p{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2.1px;
}