/* Algemene styling in de grid-container en per grid-item */
	.grid-container{
		padding-top: 20px;
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 90%;
		margin: 0 auto;
		
		grid-template-columns: 70% 30%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		padding-top: 20px;
		display: grid;
		
		grid-template-columns: 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 0px 0px;
		
		width: 90%;
		margin: 0 auto;
		
		grid-template-areas:
			"operational1"
			"operational2"
			"analythical1"
			"analythical2"
	}

														/* Styling van de grid-boxes bij mobiele weergave */

															.box1{
																grid-area: header;
																background-color: red;
																border-radius: 20px;
																margin-right: 10px;
																text-align: center;
		/* verwijder eventueel vanaf hier */														display: flex;
																flex-flow: column;
																flex-wrap: wrap-reverse;
																align-content: center;
															/*	
																display: flex;
																justify-content: center;
																align-items: center;
																resize: both;
																flex-flow: column; */
															}
															
															.box2{
																grid-area: pilootInlog;
																background-color: gray;
																border-radius: 20px;
																margin-left: 10px;
																display: flex;
																justify-content: center;
																align-items: center;
																resize: both;
															}

															.box3{
																grid-area: operational1;
																display: flex;
																flex-direction: column;
																background-color: orange;
																border-radius: 20px 20px 0px 0px;
															}

															.box4{
																grid-area: operational2;
																display: flex;
																flex-flow: column;
																background-color: dodgerblue;
																border-radius: 0px 0px 20px 20px;
															}

															.box5{
																grid-area: analythical1;
																display: flex;
																flex-flow: column;
																margin-top: 20px;
																background-color: limegreen;
																border-radius: 20px 20px 0px 0px;
															}

															.box6{
																grid-area: analythical2;
																display: flex;
																flex-flow: column;
																background-color: hotpink;
																border-radius: 0px 0px 20px 20px;
	
														}
	
	/* Styling in box1 */
	#tekstGroteSchermen{
		display: none;
	}
	
	#logo{
		width: 110px;
		padding-top: 3%;
	}
	
	h1{
		font-size: 25px;
		margin: 3% 0% 3% 0%;
	}
	
	/* Styling in box2 */
	#pilootLogo{
		width: 65px;
	}
	
	#pilootAanduidingTekst{
		display: none;
	}
	
	#huidigePilootTekst{
		display: none;
	}


/* Kleine tablet staand */
@media only screen and (min-width: 599px) and (max-width: 767px) {
	
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 85%;
		margin: 0 auto;
		
		grid-template-columns: 80% 20%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 85%;
		margin: 0 auto;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
													/* Styling van de grid-boxes bij kleine tablet weergave */
															.box1{
																display: flex;
																flex-flow: row;
															}
															
															.box2{
																display: flex;
															}
	
															.box3{
																border-radius: 20px 0px 0px 20px;
															}

															.box4{
																border-radius: 0px 20px 20px 0px;
															}

															.box5{
																margin-top: 0px;
																border-radius: 20px 0px 0px 20px;
															}

															.box6{
																margin-top: 0px;
																border-radius: 0px 20px 20px 0px;
															}
	
	/* Styling in box1 */
	#logo{
		width: 120px;
		padding: 0px;
		margin-left: 7%;
	}
	
	h1{
		margin: auto;
		margin-right: 5%;
		font-size: 28px;
	}
	
	#tekstMobiel{
		display: inline;
	}
	
	#tekstGroteSchermen{
		display: none;
	}
	
	/* Styling in box2 */
	#pilootLogo{
		width: 60px;
		margin: 10% 0% 10% 0%;
	}
	
}



/* Grote tablet staand */
@media only screen and (min-width: 767px){
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 80%;
		margin: 0 auto;
		
		grid-template-columns: 85% 15%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 80%;
		margin: 0 auto;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
														/* Styling van de grid-boxes bij grote tablet weergave */
															.box1{
																display: flex;
																flex-flow: row;
															}
															
															.box2{
																display: flex;
																flex-flow: row;
															}
															
															.box3{
																border-radius: 20px 0px 0px 20px;
															}

															.box4{
																border-radius: 0px 20px 20px 0px;
															}

															.box5{
																margin-top: 0px;
																border-radius: 20px 0px 0px 20px;
															}

															.box6{
																margin-top: 0px;
																border-radius: 0px 20px 20px 0px;
	}
	
	/* Styling in box1 */
	#logo{
		width: 100px;
		padding: 0px;
		margin: 2% 0% 2% 5%;
	}
	
	h1{
		margin: auto;
		margin-right: 5%;
		font-size: 28px;
	}
	
	#tekstMobiel{
		display: inline;
	}
	
	#tekstGroteSchermen{
		display: none;
	}
	
	/* Styling in box2 */
	#pilootAanduidingTekst{
		display: none;
	}
	
	#huidigePilootTekst{
		display: none;
	}
	
	#pilootLogo{
		width: 60px;
		margin: 10% 0% 10% 0%;
	}
	
}



/* Tablet liggend */
@media only screen and (min-width: 946px) and (max-width: 1099px){
		
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 80%;
		margin: 0 auto;
		
		grid-template-columns: 70% 30%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 80%;
		margin: 0 auto;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
														/* Styling van de grid-boxes bij tablet liggend weergave */
														.box2{
															display: flex;
															justify-content: space-around;
														}
	
	
	/* Styling in box1 */
	#tekstMobiel{
		display: none;
	}
	
	#tekstGroteSchermen{
		display: inline;
	}
	
	#logo{
		width: 100px;
		padding: 0px;
		margin-left: 3%;
	}
	
	h1{
		margin: auto;
		margin-right: 3%;
		font-size: 24px;
	}
	
	/* Styling in box2 */
	#pilootTekstenBox2{
		width: 60%;
		height: auto;
		margin-left: 8%;
		line-height: 1.2;
	}
	
	#pilootAanduidingTekst{
		display: inline;
		font-size: 14px;
		margin-bottom: 50px;
	}
	
	#huidigePilootTekst{
		display: inline;
		font-size: 14px;
	}
	
	#pilootLogo{
		width: 60px;
		margin: 5% 6% 5% 0%;
	}
	
	
}



/* Kleine desktop */
@media only screen and (min-width: 1100px) and (max-width: 1354px){
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 75%;
		margin: 0 auto;
		
		grid-template-columns: 70% 30%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		padding-top: 20px;
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 75%;
		margin: 0 auto;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
														/* Styling van de grid-boxes bij kleine desktop weergave */
															.box1{
																display: flex;
																flex-flow: row;
															}
															
															.box2{
																display: flex;
																justify-content: space-around;
															}
															
	/* Styling in box1 */
	#tekstMobiel{
		display: none;
	}
	
	#tekstGroteSchermen{
		display: inline;
	}
	
	#logo{
		width: 120px;
		margin: 2% 0% 2% 3%;
	}
	
	h1{
		margin-right: 3%;
		font-size: 28px;
	}
	
	/* Styling in box2 */
	#pilootTekstenBox2{
		margin-left: 0%;
	}
	
	#pilootAanduidingTekst{
		display: inline;
		font-size: 15px;
	}
	
	#huidigePilootTekst{
		display: inline;
		font-size: 15px;
		margin-top: 50px;
	}
	
	#pilootLogo{
		width: 70px;
		margin: 3% 0% 3% 0%;
	}
	
}

/* Grote desktop */
@media only screen and (min-width: 1355px) {
	.grid-container{
		display: grid;
		
		grid-template-rows: 1fr; 
		grid-gap: 10px 0px;
		
		width: 75%;
		margin: 0 auto;
		
		grid-template-columns: 70% 30%;
		
		grid-template-areas:
			"header pilootInlog"
	}
	
	.grid-container2{
		padding-top: 20px;
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr; 
		grid-gap: 20px 0px;
		
		width: 75%;
		margin: 0 auto;
		
		grid-template-areas:
			"operational1 operational2"
			"analythical1 analythical2"
	}
	
														/* Styling van de grid-boxes bij kleine desktop weergave */
															.box1{
																display: flex;
																flex-flow: row;
															}
	/* Styling in box1 */
	#tekstMobiel{
		display: none;
	}
	
	#tekstGroteSchermen{
		display: inline;
	}
	
	/* Styling in box2 */
	#pilootAanduidingTekst{
		display: inline;
	}
	
	#huidigePilootTekst{
		display: inline;
	}
	
}