@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url("https://use.typekit.net/zkx6vyo.css");

/* Algemene styling */
body{
	margin: 0;
	background-color: #F7F9FA;
	/* background: #EEF2F7; */
}

/* Lettertypes */
h1{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;
	font-weight: 300;
}

h2{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	font-weight: normal;
	margin: 0px;
}

h3{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 5px;
	font-weight: normal;
	margin: 0px;
}

p{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2.1px;
	margin: 0px;
}


/* Gebruike schaduwen back-up

box-shadow:
					0 0.7px 3px rgba(0, 0, 0, 0.036),
					0 1.5px 4.8px rgba(0, 0, 0, 0.031),
					0 2.8px 8px rgba(0, 0, 0, 0.028),
					0 7px 19px rgba(0, 0, 0, 0.07)
				;
				
box-shadow:
  0 0.5px 2.4px rgba(0, 0, 0, 0.055),
  0 4px 19px rgba(0, 0, 0, 0.11)
;

box-shadow:
  0 0.5px 1.1px rgba(0, 0, 0, 0.075),
  0 4px 9px rgba(0, 0, 0, 0.15)
;

box-shadow:
  0 0.5px 1.1px rgba(0, 0, 0, 0.075),
  0 4px 15px rgba(0, 0, 0, 0.15)
;



*/